@model TT.Models.Course

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit","Courses",FormMethod.Post,new { @id="EditCourseForm"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Edit Course</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-default" href="@Url.Action("Index")">Back To List</a>
            
            </div>
           

        </div>
    </div>
}


<link href="~/Content/css/technoWireless.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/js/technoWireless.js"></script>